POSTGRES_USER="user"
POSTGRES_PASSWORD="your-secure-password"
POSTGRES_DB="db"
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/${POSTGRES_DB}"
BETTER_AUTH_SECRET="your-secret-here-at-least-32-chars"
BETTER_AUTH_URL="http://localhost:3000"
GITHUB_CLIENT_ID="your-github-client-id"
GITHUB_CLIENT_SECRET="your-github-client-secret"
